:root {
  --main-header-color: rgb(0, 102, 153);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo{
  float: left;
}
body {
  background-color: #fbfcff
}
.buttonColor {
  background-color: #f9a03f
}

.header {
  background-color: var(--main-header-color);
  height: 10vh;
  width: 100%;
}

.buttonLogin{
  margin: auto;
  margin-bottom: 5vh;
}
.buttonClientHome{
  margin: auto;
  margin-top: 5vh;
}
.homePageMessage{
  height: 15vh;
}
.homePageMessageSub{
  height: 5vh;
}
.corporateDocumentImg {
  width: 20vw;
  height: 12vh;
}
.corporateDocumentTitle {
  font-weight: bold;
}
.corporateDocumentCard {
  border-style: solid;
  padding-left: 1vw;
  margin-bottom: 2vh;
}

.footer{
  background-color: var(--main-header-color);
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
